*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-family: 'Inter',Arial,sans-serif;
}


html {
    opacity: 1;
    animation: flash1 2s;
  }
  
  @keyframes flash1 {
    0% { opacity: .0; }
    100% { opacity: 1;  }
  }

@font-face { 
    font-family: "InterLight";
    src: url("/fonts/InterLight.ttf") format("ttf");
    font-style: normal;
    font-weight: 300;
    }

@font-face {
    font-family: "Inter"; 
    src: url("/fonts/Inter-Regular.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
    }

@font-face {
        font-family: "Inter"; 
        src: url("/fonts/Inter-Medium.woff") format("woff"); 
        font-style: normal; 
        font-weight: Medium; 
        }
@font-face {
    font-family: "Inter"; 
    src: url("/fonts/Inter-SemiBold.woff") format("woff"); 
    font-style: normal; 
    font-weight: "Semi Bold"; 
    }

@font-face {
    font-family: "Inter"; 
    src: url("/fonts/CodecPro-ExtraBold.woff") format("woff"); 
    font-style: normal; 
    font-weight: Bold; 
    }

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fbfbfc;
}

.navbar-burger-menu-block {
    width: 300px;
    height: 100vh;
    background-color: #e64456;
    position: fixed;
    right: -300px;
    top: 0;
    padding: 40px 40px;
    transition: 0.5s;
}


.navbar-lebel-white {
    width: 45px;
    height: 45px;
    color: #e64456;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    padding-top: 4px;
    background-color: #fbfbfc;
}

.navbar-brand-white span {
    color: #fbfbfc;
    margin-left: 10px;
    font-weight: 900;
    font-size: 24px;
}

.navbar-brand-white {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 180px;
}

.navbarlink-burger {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 500;
    color: #fbfbfc;
}

.navbar-list-burger {
    margin-top: 40px;
}

.navbar-item-burger {
    display: block;
    margin-top: 8px;
}

.nav-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.navbar-broad {
    height: 24px;
}

.navbar-brand {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.navbar-lebel {
    width: 45px;
    height: 45px;
    background-color: #e64456;
    color: #fbfbfc;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    padding-top: 4px;
}

.navbar-brand span {
    color: black;
    margin-left: 10px;
    font-weight: 900;
    font-size: 24px;
}

.navbar-list {
    list-style-type: none;
}

.navbar-item {
    display: inline-block;
    margin: 0 20px;
}

.navbarlink {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 500;
    color: black;
    opacity: 0.9;
}

.navbarlink:hover {
    text-decoration: none;
    color: #000000;
    opacity: 0.8;
}

.navbar-burger-menu {
    width: 40px;
    height: 45px;
    padding-top: 14px;
    display: none;
    cursor: pointer;
}

.navbar-burger-menu span {
    height: 2px;
    width: 40px;
    background-color: #e64456;
    display: block;
}

.navbar-burger-menu span ~ span{
    height: 2px;
    width: 26px;
    background-color: #e64456;
    display: block;
    margin-top: 6px;
    margin-left: 14px;
}

.navbar-contacts-burger {
    position: absolute;
    bottom: 100px;
}

.navbar-tel-burger, .navbar-email-burger {
    color: #fbfbfc;
    margin-bottom: 20px;
    
}

.navbar-tel-burger a {
    color: #fbfbfc;
    text-decoration: none;
}

.burger-cross {
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
}

.burger-cross span{
    margin-top: 10px;
    width: 30px;
    height: 2px;
    background-color: #fbfbfc;
    display: block;
    transform: rotate(45deg);
}

.burger-cross span ~ span{
    width: 30px;
    height: 2px;
    background-color: #fbfbfc;
    display: block;
    transform: rotate(135deg);
    margin-top: -2px;

}

.request-link-burger {
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 170px;
    height: 45px;
    color: #fbfbfc;
    font-size: 16px;
    line-height: 45px;
    font-weight: 500;
    border-width: 1px;
    border-radius: 30px;
    background-color: #2e2e2e;
    border-color: #2e2e2e;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.request-link-burger:hover {
    background-color: black;
    cursor: pointer;
}

.cost-link-burger {
    letter-spacing: 1px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 220px;
    height: 45px;
    color: #fbfbfc;
    font-size: 16px;
    line-height: 45px;
    font-weight: 500;
    border-width: 1px;
    border-radius: 30px;
    background-color: #e64456;
    border-color: #fbfbfc;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.request-link-header {
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 170px;
    height: 45px;
    color: #fbfbfc;
    font-size: 16px;
    line-height: 45px;
    font-weight: 500;
    border-width: 1px;
    border-radius: 30px;
    background-color: #e64456;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}

.request-link-header:hover {
    text-decoration: none;
    color: #fbfbfc;
    background-color: #ff4759;
}

@media (max-width: 1200px) {
    .navbar-broad {
        display: none;
    }

    .navbar-burger-menu {
        display: block;
    }

    .send-request-header {
        margin-left: auto;
        margin-right: 40px;
    }
}

.main {
    width: 100%;
    max-height: 1930px;
    background-color: #fbfbfc;
    height: 100%;
}

.main-container {
    padding: 220px 20px 220px 20px;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.main-left h1 {
    font-size: 54px;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 75px;
}

.main-left {
    min-width: 55%;
    min-height: 490px;
    padding-left: 40px;
}

.main-subtext {
    margin-top: 40px;
    color: #000000;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 400;
    opacity: 0.8;
}

.main-requests {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
}

.send-request-main {
    width: 170px;
    height: 45px;
}


.request-link-main {
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 170px;
    height: 45px;
    color: #fbfbfc;
    font-size: 16px;
    line-height: 45px;
    font-weight: 500;
    border-width: 1px;
    border-radius: 30px;
    background-color: #e64456;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}

.request-link-main:hover {
    text-decoration: none;
    color: #fbfbfc;
    background-color: #ff4759;
}

.calculate-cost {
    margin-left: 40px;
    width: 210px;
    height: 45px;
}

.cost-link {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 230px;
    height: 45px;
    color: black;
    font-size: 16px;
    line-height: 45px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 30px;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.cost-link:hover {
    background-color: #ff4759;
    text-decoration: none;
    color: #fbfbfc;
    border: 1px solid #ff4759;
}

.main-right {
    position: relative;
    width: 50%;
    height: 490px;
    z-index: 5;
}
.main-right-img {
    position: absolute;
    z-index: 3;
    left: 70px;
}

.main-right-img-head {
    position: absolute;
    z-index: 3;
    left: 180px;
    animation: head 2s ease-out 0s infinite;
}

@keyframes head {
    0% {transform:rotate(0deg);}
    20% {transform:rotate(20deg);}
    100% {transform:rotate(0deg);}
}

.main-right-text {
    position: absolute;
    font-size: 490px;
    color: #e64456;
    font-weight: 700;
    z-index: 2;
    top: 80px;
    left: 200px;
}


@media (max-width: 1200px) {
    .main-left h1 {
        font-size: 44px;
    }

    .main-container {
        padding: 180px 20px 220px 20px;
    }

    .main-subtext {
        font-size: 16px;
    }

    .main-right-img {
        width: 400px;
        left: 60%;
        margin-left: -200px;
        top: 50%;
        margin-top: -191px;
    }

    .main-right-img-head {
        width: 42px;
        position: absolute;
        z-index: 3;
        left: 60%;
        margin-left: -112px;
        top: 50%;
        margin-top: -189px;
        animation: head 2s ease-out 0s infinite;
    }

    .main-right-text {
        font-size: 395px;
        left: 50%;
        margin-left: -110px;
        top: 50%;
        margin-top: -150px;
    }
}

.main-advatages {
    width: 100%;
    margin-top: 40px;
    display: flex;
}

.advatages-two, .advatages-three {
    margin-left: 30px;
}

.main-right-hidden {
    display: none;
}

@media (max-width: 960px) {
    .main-right {
        display: none;
    }

    .main-left {
        height: 880px;
        width: 100%;
        position: relative;
        padding-left: unset;
    }

    .main-left h1 {
        text-align: center;
        font-size: 40px;
    }

    .main-right-hidden {
        display: block;
        width: 100%;
        height: 440px;
        position: relative;
    }

    .main-container {
        padding: 70px 20px;
    }

    .main-right-img-hidden {
        position: absolute;
        width: 400px;
        left: 50%;
        margin-left: -200px;
        top: 30px;
        z-index: 3;
    }

    .main-right-img-head-hidden {
        width: 42px;
        position: absolute;
        z-index: 3;
        left: 50%;
        margin-left: -112px;
        top: 30px;
        animation: head 2s ease-out 0s infinite;
    }

    .main-right-text-hidden {
        position: absolute;
        font-size: 400px;
        color: #e64456;
        font-weight: 700;
        z-index: 2;
        top: 70px;
        left: 50%;
        margin-left: -111px;
    }

    .main-subtext {
        text-align: center;
    }

    .main-requests {
        justify-content: center;
    }

    .main-advatages {
        justify-content: center;
    }

}

@media (max-width: 768px) {
    .main-left h1 {
        font-size: 36px;
    }

    .nav-container {
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .main-requests {
        flex-direction: column;
        max-width: 280px;
        margin: 40px auto;
    }

    .main-advatages {
        justify-content: space-around;
    }

    .calculate-cost {
        margin-left: 0px;
        margin-top: 20px;
    }

    .send-request-main, .calculate-cost {
        width: 100%;
    }
    .request-link-main, .cost-link {
        width: 100%;
    }

    .send-request-header {
        display: none;
    }

    .main-container {
        padding: 10px 20px;
    }

    .main-right-img-hidden {
        width: 320px;
        top: 53px;
        margin-left: -160px;
    }

    .main-right-img-head-hidden {
        width: 36px;
        left: 50%;
        margin-left: -92px;
        top: 50px;
    }

    .main-right-text-hidden {
        font-size: 340px;
        top: 94px;
        left: 50%;
        margin-left: -95px;
    }

    .main-subtext {
        margin-top: 0px;
    }

    .advatages-one, .advatages-two, .advatages-three{
        flex-direction: column;
    }
}

@media (max-width: 421px) {
    .main-left {
        height: 980px;
    }
}

@media (max-width: 398px) {
    .main-left {
        height: 1020px;
    }
}

.advatages-one {
    height: 100%;
    display: flex;
    align-items: center;
}

.advatages-two {
    height: 100%;
    display: flex;
    align-items: center;
}

.advatages-three {
    height: 100%;
    display: flex;
    align-items: center;
}

.advatages-one span, .advatages-two span, .advatages-three span {
    color: #000000;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 400;
    opacity: 0.8;
    height: 100%;
    margin-left: 10px;
}

.advatages-one img, .advatages-two img, .advatages-three img {
    height: 34px;
}

.company {
    width: 100%;
    max-height: 1200px;
    background-color: #fbfbfc;
    height: 100%;
}

.company-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 100px 20px;
}

.company-left {
    width: 50%;
}

.company-left h3 {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.company-right {
    width: 50%;
    position: relative;
}

.company-right-img {
    position: absolute;
    left: 50%;
    margin-left: -145px;
    top: 50%;
    margin-top: -250px;
}

.company-left-text {
    margin-top: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
}

.company-left-subtext {
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
}

.company-left-text-call {
    margin-top: 40px;
    opacity: 1;
    font-size: 18px;
    font-weight: 700;
}

.company-left span {
    opacity: 1;
    font-size: 18px;
    font-weight: 700;
}

.submit-application {
    margin-top: 40px;
    width: 200px;
}

.company-left-img-hidden {
    display: none;
}

@media (max-width: 1200px) {
    .company-right-img {
        width: 232px;
        margin-top: -200px;
        margin-left: -116px;
    }

    .company-left h3 {
        margin-top: 20px;
        font-size: 40px;
    }

    .company-left {
        width: 60%;
    }

    .company-right {
        width: 40%;
    }
}

@media (max-width: 960px) {
    .company-right-img {
        width: 232px;
        margin-top: -224px;
        margin-left: -90px;
    }

    .company-right {
        width: 37%;
    }

    .company-left {
        width: 63%;
    }

    .company-left h3 {
        margin-top: 20px;
        font-size: 36px;
    }
    
    .company-left-text {
        margin-top: 40px;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        opacity: 0.9;
        font-size: 14px;
    }
    
    .company-left-subtext {
        margin-top: 10px;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        opacity: 0.9;
        font-size: 14px;
    }
}

@media (max-width: 768px) {

    .company-right-img {
        width: 180px;
    }

    .company-right {
        display: none;
    }

    .company-left {
        width: 100%;
    }

    .company-left-img-hidden {
        display: block;
        width: 160px;
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media (max-width: 576px) {
    .advatages-one span, .advatages-two span, .advatages-three span {
        margin-left: unset;
    }

    .advatages-two, .advatages-three {
        margin-left: unset;
    }

    .company-left-img-hidden {
        display: block;
        width: 160px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .company-left h3 {
        text-align: center;
    }

    .company-container {
        padding: 80px 20px;
    }

    .company-left-text-call {
        text-align: center;
    }
    .submit-application {
        margin: 40px auto 0px;
        width: 280px;
    }
}

@media (max-width: 360px) {
    .company {
        height: 1160px;
    }
}



.submit-link {
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #fbfbfc;
    font-size: 16px;
    line-height: 45px;
    font-weight: 500;
    border-width: 1px;
    border-radius: 30px;
    background-color: #e64456;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.submit-link:hover {
    text-decoration: none;
    color: #fbfbfc;
    background-color: #ff4759;
}

.calculate {
    width: 100%;
    min-height: 770px;
    background-color:#fbfbfc;
    height: 100%;
}

.calculate-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 100px 20px;
}

.calculate-left {
    width: 60%;
}

.calculate-left h3 {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.calculate-right {
    width: 40%;
    position: relative;
}

.calculate-left p {
    margin-top: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
}

.calculate-left table {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: black;
    opacity: 0.9;
    font-size: 16px;
    border-collapse: collapse; 
}

tr:nth-child(1) {
    border-bottom: 2px solid #e64456;
}

td {
    height: 40px;
}

td:nth-child(1) {
    font-weight: 400;
}

.calculate-subtext {
    margin-bottom: 40px;
    color: #000000;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 500;
}

.calculate-subtext span {
    color: #e64456;
    font-weight: bold;
    font-size: 18px;
}

.calculate-down {
    width: 100%;
    max-height: 1720px;
    height: 100%;
    padding: 100px 20px;
    background-color:#fbfbfc;
}

.calculate-container-down {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.calculate-left-down {
    width: 50%;
    padding-right: 20px;

}

.calculate-right-down {
    width: 50%;
}

.calculate-left-down h3 {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.calculate-left-down p {
    margin-top: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
}

.calculate-left-down p ~ p{
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

.calculate-left-down ul {
    list-style-type: none;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
}


.calculate-form-block {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calc-form-header {
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
    display: inline-block;
    margin-left: 50px;
    justify-self: left;
    width: 170px;
}

#profession, #place, #position, #income, #result {
    color: black;
    font-size: 16px;
    display: inline-block;
    width: 300px;
    height: 50px;
    background: white;
    border: 1px solid #C0C0C0;
    border-radius: 45px;
    padding-left: 20px;
    outline: none;
    -webkit-appearance: none;
}

.mt {
    margin-top: 20px;
}

.calculate-btn {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    width: 300px;
    height: 50px;
    color: #fbfbfc;
    font-size: 16px;
    line-height: 45px;
    font-weight: 500;
    border-width: 1px;
    border-radius: 50px;
    background-color: #e64456;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    outline: none;
    float: right;
    -webkit-appearance: none;
}

.calculate-btn:hover {
    text-decoration: none;
    color: #fbfbfc;
    background-color: #ff4759;
}

.bold {
    font-weight: 700;
    font-size: 18px;
}


.calculate-right-img {
    left: 50%;
    margin-left: -245px;
    top: 50%;
    margin-top: -269px;
    position: absolute;
}

.calculate-send-request {
        width: 198px;
        height: 45px;
}

.calculate-request-link {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 45px;
    color: #fbfbfc;
    font-size: 16px;
    line-height: 45px;
    font-weight: 500;
    border-width: 1px;
    border-radius: 30px;
    background-color: #e64456;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.calculate-request-link:hover {
    text-decoration: none;
    color: #fbfbfc;
    background-color: #ff4759;
}

.calculate-right-img-hidden {
    display: none;
}

@media (max-width: 1200px) {
    .calculate-container-down {
        display: flex;
        flex-direction: column;
    }

    .calculate-form-block {
        justify-content: space-around;
    }

    .calculate-left-down {
        width: 100%;
    }

    .calculate-left-down ul {
        text-align: left;
    }

    .calculate-right-down {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .calculate-right-img {
        width: 390px;
        margin-left: -195px;
        margin-top: -218px;
    }

    .calculate-left h3 {
        font-size: 40px;
    }

    .calc-form-header {
        margin-left: 24px;
    }
}

@media (max-width: 960px) {
    .calculate-subtext {
        text-align: center;
    }

    .calculate-right {
        display: none;
    }

    .calculate-left-down h3 {
        font-size: 40px;
    }

    .calculate-left-down p {
        font-size: 14px;
    }

    .calculate-left-down ul {
        font-size: 14px;
    }

    .calculate-left p {
        font-size: 14px;
    }

    .calculate-left {
        width: 100%;
    }

    .calculate-send-request {
        margin: auto;
    }

    .calculate-right-img-hidden {
        display: block;
        width: 390px;
        margin: 40px auto;

    }

    .calculate-left table {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .calculate-right-img-hidden {
        width: 270px;
    }

    .calculate-left h3 {
        font-size: 36px;
    }

    .calculate-left-down h3 {
        font-size: 36px;
    }

}

@media (max-width: 576px) {
    .calculate-send-request {
        width: 278px;
}

    .calculate-right-img-hidden {
        width: 270px;
    }

    .calculate-form-block {
        flex-direction: column;
    }

    .calc-form-header {
        width: 300px;
        margin-bottom: 10px;
    }
}

.service {
    padding: 100px 20px;
    width: 100%;
    max-height: 940px;
    height: 100%;
    background-color: #fbfbfc;
    /* background-color:violet; */
}


.service-block-wrapper {
    max-width: 1200px;
    height: 100%;
    background-color: #e64456;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
}

.service-block-left {
    width: 50%;
    color: #fbfbfc;
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.service-block-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbfbfc;
    font-size: 16px;
    font-weight: 400;
    padding: 40px 20px;
}

.service-block-right ul {
    padding-left: 30px;
}

.service-block-right li {
    margin-top: 0px;
}

.service-block-right li:not(:first-child) {
    margin-top: 10px;
}

@media (max-width: 960px) {
    .service-block-left {
        font-size: 40px;
    }

    .service-block-right {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .service-block-left {
        font-size: 36px;
    }
}


@media (max-width: 576px) {
    .service-block-right {
        width: 100%;
        margin-top: 40px;
    }

    .service-block-left {
        width: 100%;
        max-width: 430px;
        margin: 40px auto;
        text-align: center;
    }

    .service-block-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 404px) {

    .service-block-right {
        padding-left: unset;
    }
}

.conditions {
    width: 100%;
    max-height: 990px;
    background-color: #fbfbfc;
    height: 100%;
}

.conditions-wrapper {
    padding: 100px 20px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    height: 100%;
}

.conditions-left {
    width: 50%;
}

.conditions-right {
    width: 50%;
    position: relative;
}

.conditions-right-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -281px;
}

.conditions-left-header {
    color: black;
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.conditions-left ul {
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
    margin-top: 40px;
    list-style-type: none;
}

.conditions-left li {
    margin-top: 12px;
}

.conditions-left-img-hidden {
    display: none;
}

@media (max-width: 1032px) {
    .conditions-left-header {
        margin-top: 96px;
    }
}

@media (max-width: 1200px) {
    .conditions-right-img {
        width: 240px;
        margin-left: -120px;
        margin-top: -225px;
    }
    .conditions-left-header {
        font-size: 40px;
    }

    .conditions {
        padding: 60px 0;
    }
}

@media (max-width: 960px) {
    .conditions-left ul {
        font-size: 14px;
    }

    .conditions-left-header {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .conditions-left-img-hidden {
        display: block;
        width: 160px;
        margin: 40px auto;
    }

    .conditions-left-header {
        margin-top: 20px;
        font-size: 36px;
    }

    .conditions-right {
        display: none;
    }

    .conditions-left {
        width: 100%;
    }

    .conditions {
        padding: 0px;
    }
}

.step {
    width: 100%;
    max-height: 1970px;
    height: 100%;
    background-color:#fbfbfc;
}

.step-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    height: 100%;
    padding: 100px 20px;
}

.step-left {
    width: 50%;
}

.step-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px;
}

.step-header {
    color: black;
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.step-right-item {
    width: 468px;
    display: flex;
    align-items: center;
}

.step-right-item:not(:first-child) {
    margin-top: 40px;
}

.step-round {
    min-width: 62px;
    min-height: 62px;
    background-color: #e64456;
    border-radius: 50%;
    display: flex;
    color: #fbfbfc;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
}

.step-text {
    font-weight: 400;
    color: black;
    opacity: 0.9;
    font-size: 18px;
    margin-left: 20px;
}

@media (max-width: 1200px) {
    .step-header {
        font-size: 40px;
    }

    .step-left {
        width: 48%;
    }

    .step-right {
        width: 52%;
        padding-right: 0px;
    }
}

@media (max-width: 960px) {
    .step-wrapper {
        flex-direction: column;
    }

    .step-left {
        width: 100%;
    }

    .step-right {
        margin-top: 80px;
        width: 100%;
        align-items: flex-start;
    }

    .step {
        padding: 80px 0px;
    }
}

@media (max-width: 768px) {
    
    .step-header {
        font-size: 36px;
    }
}

@media (max-width: 576px) {
    .step-right-item {
        flex-direction: column;
    }

    .step-text {
        margin-top: 20px;
        text-align: center;
        margin-left: unset;
    }
}

@media (max-width: 531px) {

    .step-right-item {
        width: 100%;
    }
}

.employee {
    width: 100%;
    max-height: 1640px;
    background-color:#fbfbfc;
}

.employee-wrapper {
    padding: 100px 20px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    height: 100%;
    width: 100%;
}

.employee-left {
    width: 50%;
    padding: 40px 40px 40px 0px;
}

.employee-right {
    width: 50%;
    background-color: #e64456;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}


.employee-apply {
    font-weight: 700;
    font-size: 20px;
    color: #e64456;
    margin-top: 40px;
}

.employee-header {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.employee-subheader {
    font-weight: 300;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
    margin-top: 40px;
}

.employee-subheader span {
    font-weight: 700;
    font-size: 18px;
}

.employee-name, .employee-tel, .employee-email {
    color: white;
    font-size: 16px;
    height: 30px;
    background: #e64456;
    border: none;
    padding-left: 10px;
    outline: none;
    width: 100%;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

#upload-file {
    position: absolute;
    visibility: hidden;
}

.employee-form-block {
    width: 400px;
    border-bottom: 1px solid white;
}

.upload-file-text {
    color: white;
    font-size: 16px;
    margin-left: 10px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.upload-file-img {
    margin-bottom: 6px;
}

.employee-form-block:last-child {
    border-bottom: unset;
    padding-top: 40px;
}

.employee-form-block:not(:first-child) {
    margin-top: 20px;
}

.upload-file-wrapper {
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.employee-submit-btn {
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    max-width: 400px;
    height: 50px;
    background: #2e2e2e;
    color: #fbfbfc;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin: 0 auto;
    -webkit-appearance: none;
    font-family: Arial, Helvetica, sans-serif;
}

.employee-submit-btn:hover {
    background: black;
    cursor: pointer;
}

.employee-left-wrapper {
    height: 100%;
}

@media (max-width: 1200px) {
    .employee-header {
        font-size: 40px;
    }
    .employee-left {
        width: 55%;
    }

    .employee-right {
        width: 45%;
    }

    .employee-form-block {
        width: 320px;
    }

    .employee-header {
        margin-top: 40px;
    }

}

@media (max-width: 1014px) {
    .employee-header {
        margin-top: 10px;
    }
}

@media (max-width: 960px) {

    .employee-form-block {
        width: 280px;
    }

    .employee-subheader {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .employee-wrapper {
        flex-direction: column;
        padding: 80px 20px;
    }

    .employee-form-block {
        width: 360px;
    }

    .employee-header {
        font-size: 36px;
    }

    .employee-apply {
        text-align: center;
    }

    .employee-left {
        width: 100%;
        padding-right: unset;
    }

    .employee-right {
        width: 100%;
        margin-top: 40px;
        min-height: 400px;
    }
}

@media (max-width: 576px) {
    .employee-form-block {
        width: 320px;
    }
}


@media (max-width: 480px) {

    .employee-form-block {
        width: 300px;
    }
}

@media (max-width: 420px) {
    .employee-form-block {
        width: 240px;
    }
}


.contacts {
    width: 100%;
    height: 610px;
    background-color:#fbfbfc;
    padding: 0 20px;
}

.contacts-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    background-color: #e64456;
    border-radius: 30px;
    position: relative;
}

.contacts-header {
    color: #fbfbfc;
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
    padding-top: 50px;
    margin-left: 40px;
}

.contacts-img {
    position: absolute;
    top: 65px;
    right: 45px;
}

.contacts-tel {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
    color:#fbfbfc;
    padding-top: 50px;
    margin-left: 40px;
}

.contacts-tel a {
    text-decoration: none;
    color:#fbfbfc;
}

.contacts-email {
    font-size: 18px;
    color:#fbfbfc;
    margin-top: 40px;
    margin-left: 40px;
}

.conatacts-text {
    font-size: 18px;
    color:#fbfbfc;
    padding-top: 50px;
    line-height: 30px;
    margin-left: 40px;
}

#contacts-data-name, #contacts-data-tel {
    color: rgb(87, 86, 86);
    font-size: 14px;
    width: 240px;
    height: 50px;
    background: white;
    border: none;
    border-radius: 50px;
    outline: none;
    padding-left: 20px;
}

#contacts-data-submit {
    letter-spacing: 1px;
    width: 160px;
    height: 50px;
    background: #2e2e2e;
    font-weight: 500;
    color: #fbfbfc;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 50px;
    -webkit-appearance: none;
    font-family: Arial, Helvetica, sans-serif;
}

#contacts-data-submit:hover {
    background-color: black;
    cursor: pointer;
}


.contacts-data {
    position: absolute;
    bottom: 110px;
    display: flex;
    max-width: 700px;
    justify-content: space-between;
    width: 100%;
    left: 40px;
}

.contacts-policy {
    color: #ffb0b8;
    font-size: 12px;
    line-height: 1.55;
    font-weight: 400;
    margin-top: 110px;
    margin-left: 40px;
}

.contacts-policy a {
    color: #ffb0b8;
}

@media (max-width: 1200px) {
    .contacts-img {
        width: 416px;
        top: 46px;
    }
}

@media (max-width: 960px) {
    .contacts-header, .contacts-tel {
        font-size: 40px;
    }

    .contacts-email, .conatacts-text {
        font-size: 16px;
    }

    .contacts-img {
        width: 290px;
    }

    .contacts-policy {
        margin-top: 128px;
    }
}

@media (max-width: 800px) {
    .contacts-data {
        max-width: 670px;
    }
}

@media (max-width: 768px) {
    .contacts-tel {
        margin-top: 300px;
    }

    .contacts-header, .contacts-tel {
        font-size: 36px;
    }

    .contacts {
        height: 1080px;
    }

    .contacts-img {
        top: 184px;
        right: unset;
    }

    .contacts-data {
        bottom: 124px;
        flex-direction: column;
        max-width: 420px;
    }

    .contacts-policy {
        margin-top: 300px;
    }

    #contacts-data-tel, #contacts-data-name {
        margin-top: 40px;
        width: 400px;
    }

    #contacts-data-submit {
        margin-top: 40px;
    }
}

@media (max-width: 576px) {
    .contacts-header, .contacts-tel, .contacts-email, .conatacts-text, .contacts-policy {
        margin-left: 0px;
    }
    .contacts-tel {
        font-size: 32px;
    }

    .contacts-img {
        left: 0px;
        top: 174px;
    }

    .contacts {
        height: 1080px;
    }

    #contacts-data-tel, #contacts-data-name, #contacts-data-submit {
        width: 100%;
    }

    .contacts-policy {
        margin-top: 310px;
    }

    .contacts-wrapper {
        padding: 0 20px;
    }

    .contacts-data {
        bottom: 127px;
        flex-direction: column;
        width: 300px;
        left: 20px;
        max-width: calc(100% - 40px);
    }
}

@media (max-width: 541px) {
    .contacts {
        height: 1100px;
    }
}

@media (max-width: 449px) {
    .contacts {
        height: 1180px;
    }

    .contacts-policy {
        margin-top: 360px;
    }
}

@media (max-width: 388px) {
    .contacts {
        height: 1200px;
    }

    .contacts-policy {
        margin-top: 360px;
    }

    .contacts-data {
        bottom: 167px;
    }

    .contacts-img {
        top: 186px;
    }
}

.modal_application_faded{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0,0,0,0.7);
}

.modal_application_close {
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
}

.modal_application_close span{
    margin-top: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
    display: block;
    transform: rotate(45deg);
}

.modal_application_close span ~ span{
    width: 30px;
    height: 2px;
    background-color: #fbfbfc;
    display: block;
    transform: rotate(135deg);
    margin-top: -2px;

}

.modal_application {
    max-width: 560px;
    max-height: 860px;
    width: 100%;
    height: 100%;
    background-color:#fbfbfc;
    padding: 20px 0px;
    position: relative;
    left: calc(50% - 280px);
    top: calc(50% - 430px);
}

.modal_application_img {
    width: 100%;
}

.modal_application_header {
    font-size: 26px;
    text-align: center;
    margin-top: 40px;
}

.modal_application_subheader {
    margin: 20px 40px;
    text-align: center;
    opacity: .7;
}

.modal_application_name, .modal_application_tel, .modal_application_submit {
    display: block;
    max-width: 470px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    margin: 30px auto;
    border: 1px solid #d3d5d4;
    background-color:#fbfbfc;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    outline: none;
}

.modal_application_tel, .modal_application_name {
    padding-left: 30px;
}

.modal_application_submit {
    background-color: #e64456;
    color: white;
    border: 1px solid #e64456;
}

.modal_application_submit:hover {
    cursor: pointer;
    background-color: #ff4759;
}

.modal_application_policy {
    color: gray;
    font-size: 13px;
    text-align: center;
    padding: 40px;
}

.modal_application_policy a {
    color:gray;
}