*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-family: 'Inter',Arial,sans-serif;
}

@font-face {
    font-family: "Inter"; 
    src: url("/fonts/Inter-Regular.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
    }

@font-face {
        font-family: "Inter"; 
        src: url("/fonts/Inter-Medium.woff") format("woff"); 
        font-style: normal; 
        font-weight: Medium; 
        }
@font-face {
    font-family: "Inter"; 
    src: url("/fonts/Inter-SemiBold.woff") format("woff"); 
    font-style: normal; 
    font-weight: "Semi Bold"; 
    }

@font-face {
    font-family: "Inter"; 
    src: url("/fonts/CodecPro-ExtraBold.woff") format("woff"); 
    font-style: normal; 
    font-weight: Bold; 
    }

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fbfbfc;
}

.nav-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.navbar-broad {
    height: 24px;
}

.navbar-brand {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.navbar-lebel {
    width: 45px;
    height: 45px;
    background-color: #e64456;
    color: #fbfbfc;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    padding-top: 4px;
}

.navbar-brand span {
    color: black;
    margin-left: 10px;
    font-weight: 900;
    font-size: 22px;
}

.navbar-list {
    list-style-type: none;
}

.navbar-item {
    display: inline-block;
    margin: 0 20px;
}

.send-request {
    width: 170px;
    height: 45px;
}


.request-link {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 170px;
    height: 45px;
    color: #fbfbfc;
    font-size: 16px;
    line-height: 45px;
    font-weight: 500;
    border-width: 1px;
    border-radius: 30px;
    background-color: #e64456;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.request-link:hover {
    text-decoration: none;
    color: #fbfbfc;
    background-color: #ff4759;
}

.navbarlink {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 500;
    color: black;
    opacity: 0.9;
}

.navbarlink:hover {
    text-decoration: none;
    color: #000000;
    opacity: 0.8;
}

.main {
    width: 100%;
    height: 900px;
    background-color: #fbfbfc;
}

.main-container {
    padding-top: 220px;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.main-left h1 {
    font-size: 54px;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 75px;
}

.main-left {
    width: 50%;
    height: 490px;
}

.main-subtext {
    margin-top: 40px;
    color: #000000;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 400;
    opacity: 0.8;
}

.main-requests {
    margin-top: 40px;
    display: flex;
}

.main-left .send-request .request-link {
    width: 180px;
}

.calculate-cost {
    width: 210px;
    height: 45px;
}

.cost-link {
    text-decoration: none;
    margin-left: 30px;
    text-align: center;
    display: block;
    width: 210px;
    height: 45px;
    color: black;
    font-size: 16px;
    line-height: 45px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 30px;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.cost-link:hover {
    background-color: #ff4759;
    text-decoration: none;
    color: #fbfbfc;
    border: 1px solid #ff4759;
}

.main-right {
    position: relative;
    width: 50%;
    height: 490px;
    z-index: 5;
}
.main-right-img {
    position: absolute;
    z-index: 3;
    left: 70px;
}

.main-right-img-head {
    position: absolute;
    z-index: 3;
    left: 180px;
    animation: head 2s ease-out 0s infinite;
}

@keyframes head {
    0% {transform:rotate(0deg);}
    20% {transform:rotate(20deg);}
    100% {transform:rotate(0deg);}
}

.main-right-text {
    position: absolute;
    font-size: 490px;
    color: #e64456;
    font-weight: 700;
    z-index: 2;
    top: 80px;
    left: 200px;

}

.main-advatages {
    margin-top: 40px;
    display: flex;
}

.advatages-one {
    height: 100%;
    display: flex;
    align-items: center;
}

.advatages-two {
    margin-left: 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

.advatages-three {
    margin-left: 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

.advatages-one span, .advatages-two span, .advatages-three span {
    color: #000000;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 400;
    opacity: 0.8;
    margin-left: 10px;
    display: block;
    height: 100%;
}

.advatages-one img, .advatages-two img, .advatages-three img {
    height: 34px;
}

.company {
    width: 100%;
    height: 740px;
    background-color: #fbfbfc;
}

.company-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 100px 20px;
}

.company-left {
    width: 50%;
}

.company-left h3 {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.company-right {
    width: 50%;
    background-image: url(/img/about.webp);
    background-repeat: no-repeat;
    background-position: center center;
}

.company-left-text {
    margin-top: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
}

.company-left-subtext {
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
}

.company-left-text-call {
    margin-top: 40px;
    opacity: 1;
    font-size: 18px;
    font-weight: 700;
}

.company-left span {
    opacity: 1;
    font-size: 18px;
    font-weight: 700;
}

.submit-application {
    margin-top: 40px;
    width: 200px;
    height: 45px;
}

.submit-link {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #fbfbfc;
    font-size: 16px;
    line-height: 45px;
    font-weight: 400;
    border-width: 1px;
    border-radius: 30px;
    background-color: #e64456;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.submit-link:hover {
    text-decoration: none;
    color: #fbfbfc;
    background-color: #ff4759;
}

.calculate {
    width: 100%;
    height: 770px;
    background-color:#fbfbfc;
}

.calculate-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 100px 20px;
}

.calculate-left {
    width: 60%;
}

.calculate-left h3 {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.calculate-right {
    width: 40%;
    background-image: url(/img/work.webp);
    background-repeat: no-repeat;
    background-position: center center;
}

.calculate-left p {
    margin-top: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
}

table {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: black;
    opacity: 0.9;
    font-size: 16px;
    border-collapse: collapse; 
}

tr:nth-child(1) {
    border-bottom: 1px solid #e64456;
}

td {
    height: 40px;
}

td:nth-child(1) {
    font-weight: 400;
}

.calculate-subtext {
    margin-bottom: 40px;
    color: #000000;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 500;
}

.calculate-subtext span {
    color: #e64456;
    font-weight: bold;
    font-size: 18px;
}

.calculate-down {
    width: 100%;
    height: 720px;
    background-color:#fbfbfc;
}

.calculate-container-down {
    max-width: 1200px;
    padding: 100px 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.calculate-left-down {
    width: 45%;
    padding-right: 20px;

}

.calculate-right-down {
    width: 55%;
}

.calculate-left-down h3 {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.calculate-left-down p {
    margin-top: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
}

.calculate-left-down p ~ p{
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

.calculate-left-down ul {
    list-style-type: none;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
}


.calculate-form-block {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calc-form-header {
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
    display: inline-block;
    margin-left: 50px;
}

#profession, #place, #position, #income {
    color: black;
    font-size: 16px;
    display: inline-block;
    width: 320px;
    height: 50px;
    background: white;
    border: 1px solid #C0C0C0;
    border-radius: 45px;
    padding-left: 20px;
    outline: none;
}

.mt {
    margin-top: 20px;
}

.calculate-btn {
    text-align: center;
    display: block;
    width: 320px;
    height: 50px;
    color: #fbfbfc;
    font-size: 16px;
    line-height: 45px;
    font-weight: 400;
    border-width: 1px;
    border-radius: 50px;
    background-color: #e64456;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    margin-left: 318px;
    outline: none;
}

.calculate-btn:hover {
    text-decoration: none;
    color: #fbfbfc;
    background-color: #ff4759;
}

.calculate-cost-worth {
    font-weight: 700;
    line-height: 1.5;
    color:  #e64456;
    opacity: 1;
    font-size: 18px;
    display: inline-block;
    margin-left: 100px;
}

.mt2 {
    margin-top: 50px;
}

.bold {
    font-weight: 700;
    font-size: 18px;
}

.calculate-form-cost {
    margin-left: 52px;
    font-weight: 700;
    line-height: 1.5;
    color: black;
    opacity: 1;
    font-size: 18px;
    width: 400px;
}

.calc-form-cost {
    display: inline-block;

}

.service {
    padding: 100px 0;
    width: 100%;
    height: 540px;
    background-color: #fbfbfc;
}


.service-block-wrapper {
    width: 1200px;
    height: 100%;
    background-color: #e64456;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    padding: 0 20px;
}

.service-block-left {
    width: 50%;
    color: #fbfbfc;
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.service-block-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbfbfc;
    font-size: 16px;
    font-weight: 400;
}

.service-block-right ul {
    list-style-type: none;
}

.service-block-right li {
    margin-top: 10px;
}

.conditions {
    padding: 100px 0;
    width: 100%;
    height: 820px;
    background-color:#fbfbfc;
}

.conditions-wrapper {
    padding: 0 20px;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    height: 100%;
}

.conditions-left {
    width: 50%;
}

.conditions-right {
    width: 50%;
    background-image: url(/img/super.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.conditions-left-header {
    margin-top: 110px;
    color: black;
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.conditions-left ul {
    font-weight: 400;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
    margin-top: 40px;
    list-style-type: none;
}

.conditions-left li {
    margin-top: 12px;
}


.step {
    padding: 100px 0;
    width: 100%;
    height: 670px;
    background-color:#fbfbfc;
}

.step-wrapper {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    height: 100%;
}

.step-left {
    width: 50%;
}

.step-right {
    width: 50%;
}

.step-header {
    color: black;
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
}

.step-right-item {
    display: flex;
    align-items: center;
}

.step-right-item:not(:first-child) {
    margin-top: 40px;
}

.step-round {
    width: 62px;
    height: 62px;
    background-color: #e64456;
    border-radius: 50%;
    display: flex;
    color: #fbfbfc;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
}

.step-text {
    font-weight: 400;
    color: black;
    opacity: 0.9;
    font-size: 18px;
    margin-left: 20px;
}

.employee {
    width: 100%;
    height: 600px;
    background-color:#fbfbfc;
}

.employee-wrapper {
    padding: 100px 20px;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    height: 100%;
}

.employee-left {
    width: 50%;
    padding-right: 40px;
}

.employee-right {
    width: 50%;
    background-color: #e64456;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-apply {
    font-weight: 700;
    font-size: 20px;
    color: #e64456;
    margin-top: 40px;
}

.employee-header {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
    margin-top: 40px;
}

.employee-subheader {
    font-weight: 300;
    line-height: 1.5;
    color: black;
    opacity: 0.9;
    font-size: 16px;
    margin-top: 40px;
}

.employee-name, .employee-tel, .employee-email {
    color: rgb(87, 86, 86);
    font-size: 16px;
    height: 50px;
    background: #fbfbfc;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    outline: none;
    width: 100%;
}

#upload-file {
    position: absolute;
    visibility: hidden;
}

.employee-form-block:not(:first-child) {
    margin-top: 20px;
    width: 400px;
}

.upload-file-text {
    color: #fbfbfc;
    margin-left: 20px;
}

.upload-file-wrapper {
    height: 45px;
    display: flex;
    align-items: center;
}

.employee-submit-btn {
    width: 400px;
    height: 50px;
    background: black;
    color: #fbfbfc;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin: 0 auto;
}

.contacts {
    width: 100%;
    height: 570px;
    background-color:#fbfbfc;
}

.contacts-wrapper {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    background-color: #e64456;
    border-radius: 30px;
    position: relative;
}

.contacts-header {
    color: #fbfbfc;
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
    padding-top: 50px;
    padding-left: 60px;
}

.contacts-img {
    position: absolute;
    top: 65px;
    right: 45px;
}

.contacts-tel {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
    color:#fbfbfc;
    padding-top: 50px;
    padding-left: 60px;
}

.contacts-email {
    font-size: 18px;
    color:#fbfbfc;
    padding-top: 20px;
    padding-left: 60px;
}

.conatacts-text {
    font-size: 18px;
    color:#fbfbfc;
    padding-top: 50px;
    padding-left: 60px;
    line-height: 30px;
}

#contacts-data-name, #contacts-data-tel {
    color: rgb(87, 86, 86);
    font-size: 14px;
    display: inline-block;
    width: 250px;
    height: 50px;
    background: white;
    border: none;
    border-radius: 50px;
    outline: none;
    padding-left: 20px;
}

#contacts-data-submit {
    width: 160px;
    height: 50px;
    background: black;
    color: #fbfbfc;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin: 0 auto;
    margin-left: 20px;
}

.contacts-data {
    position: absolute;
    bottom: 100px;
    left: 60px;
}


#contacts-data-tel {
    margin-left: 20px;
}

.contacts-policy {
    color: #ffb0b8;
    font-size: 12px;
    line-height: 1.55;
    font-weight: 400;
    margin-top: 100px;
    margin-left: 60px;
}

.contacts-policy a {
    color: #ffb0b8;
}
